/* @tailwind base;
@tailwind components;
@tailwind utilities; */
#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.book-image {
    height: 100%;
    width: 100%;
}

.book-title-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.book-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

